<!DOCTYPE html>
<head xmlns:v-on="http://www.w3.org/1999/xhtml">
	<title>创建账号</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="css/login/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="css/login/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
	<link href="css/login/css/templatemo_style.css" rel="stylesheet" type="text/css">
    <link href="css/login/css/scs.min.css" rel="stylesheet" type="text/css">
	<link href="css/custom.css" rel="stylesheet" type="text/css">
</head>
<body class="templatemo-bg-gray">
	<h1 class="margin-bottom-15">创建新账号</h1>
	<div class="container" id="app">
		<div class="col-md-12">			
			<form class="form-horizontal templatemo-create-account templatemo-container" role="form" action="#" method="post">
				<div class="form-inner">
					<div class="form-group">
			          <div class="col-md-6">		          	
			            <label for="first_name" class="control-label">昵称</label>
			            <input type="text" class="form-control" id="first_name" placeholder="输入昵称" name="nickname" data-toggle="dropdown" v-model="nickname">
			          </div>
						<!--
			          <div class="col-md-6">		          	
			            <label for="last_name" class="control-label">Last Name</label>
			            <input type="text" class="form-control" id="last_name" placeholder="">		            		            		            
			          </div>
			          -->
			        </div>
			        <div class="form-group">
			          <div class="col-md-6 col-lg-6">
			            <label for="email" class="control-label">邮箱</label>
			            <input type="email" class="form-control" id="email"  placeholder="输入邮箱" name="username" v-model="username" v-on:keyup="validationEmail"><br>
			          </div>
                        <div class="col-md-3">
                            <label for="password" class="control-label">验证码</label>
                            <input type="text" class="form-control" id="code" placeholder="验证码" name="code" v-model="code">
                        </div>
                        <div class="col-md-3">
                            <label for="password" class="control-label">&nbsp;&nbsp;</label>
                            <input type="button" class="form-control btn-primary" readonly id="send" value="点击发送" :disabled="isCodeActive" v-on:click="sendCodeMail" v-model="sendMail">
                        </div>
			        </div>			
			        <div class="form-group">
			          <div class="col-md-12 col-lg-6">
			            <label class="control-label">城市</label> <br>
                          <input type="text" class="form-control" readonly placeholder="选择城市" id="myAddrs"  data-key="4-84-1298" name="city"/>
                      </div>
                    </div>
                    <div class="form-group">
			          <div class="col-md-6">
                          <label class="control-label">性别</label><br>
			          	<label class="radio-inline">
		          			<input type="radio" name="optionsRadios" value="0" checked = 'checked' v-model="sex" name="sex"> 男
		          		</label>
		          		<label class="radio-inline">
		          			<input type="radio" name="optionsRadios" value="1" v-model="sex" name="sex"> 女
		          		</label>
			          </div>
                    </div>
			        <div class="form-group">
			          <div class="col-md-6">
			            <label for="password" class="control-label">密码</label>
			            <input type="password" class="form-control" id="password" placeholder="输入8位以上密码" name="password" v-model="password">
			          </div>
			          <div class="col-md-6">
			            <label for="password" class="control-label">确认 密码</label>
			            <input type="password" class="form-control" id="confirmPassword" placeholder="确认 密码" name="confirmPassword" v-model="confirmPassword">
			          </div>
			        </div>
			        <div class="form-group" id="agreeGroup">
			          <div class="col-md-12">
			            <label><input type="checkbox" v-model="agree">我同意<a href="javascript:;" data-toggle="modal" data-target="#templatemo_modal">隐私政策</a> </label>
			          </div>
			        </div>
			        <div class="form-group">
			          <div class="col-md-12">
			            <input type="button" value="创建" class="btn btn-info" v-on:click="submit" v-model="create"><label style="color: red;">{{msginfo}}</label>
			            <a href="login.html" class="pull-right">登录</a>
			          </div>
			        </div>	
				</div>				    	
		      </form>		      
		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="templatemo_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title" id="myModalLabel">Terms of Service</h4>
	      </div>
	      <div class="modal-body">
	      	<p>This form is provided by <a rel="nofollow" href="http://www.cssmoban.com/page/1">Free HTML5 Templates</a> that can be used for your websites. Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
	        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla. Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
	        <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
	<script src="js/vue.min.js"></script>
	<script src="js/md5.js"></script>
	<script type="text/javascript" src="js/login/js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="js/login/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/customs.js"></script>
    <script type="text/javascript" src="js/login/js/jquery.scs.min.js"></script>
    <script type="text/javascript" src="js/login/js/CNAddrArr.min.js"></script>
    <script>
        var vm = new Vue({
            el:'#app',
            data:{
                create:'创建',
				sex:'0',
				nickname:'',
				username:'',
				password:'',
                confirmPassword:'',
                city:'',
                agree:false,
                msginfo:'',
                isCodeActive:true,
                code:'',
                sendMail:'点击发送',
                totalTime:60
            },
            created(){
            },
            methods:{
            sendCodeMail:function(){
                var that = this;
                this.isCodeActive=true;
                this.sendMail = "再次获取(60)";
            },
            submit:function(){
                var that = this;
                var flag = that.validation();
                if(flag){
                    $.ajax({
                            type:"POST",
                            url:" /register",
                            dataType:"json",
                            timeout : 50000,
                            data: { token: this.token, username: this.userName, password:encrypted,rememberMe:this.rememberMe },
                            success:function(ret){
                                if(ret.msg.msgCode == '200'){
                                }else{

                                }
                            },
                            complete: function (XMLHttpRequest, textStatus) {
                                if(textStatus == 'timeout') {
                                    that.msginfo = "连接超时，请稍后再试";
                                }
                            },
                            error:function(jqXHR){
                                that.msginfo="服务器繁忙，请稍后再试"

                            }
                        });
                }

            },
            validationEmail:function(){

                var reg = new RegExp("^[a-zA-Z0-9]+([._\\-]*[a-zA-Z0-9])*@([a-zA-Z0-9]+[-a-zA-Z0-9]*[a-zA-Z0-9]+.){1,63}[a-zA-Z0-9]+$");
                if(reg.test(this.username)){
                    $("#email").removeClass('board_red');
                    this.isCodeActive = false;
                    return true;
                }else{
                    $("#email").addClass('board_red');
                    this.isCodeActive = true;
                    return false;
                }

            },
            validation:function(){
            var that=this;
                var flag = true;
                $("#agreeGroup").removeClass('board_red');
                $("#password").removeClass('board_red');
                $("#confirmPassword").removeClass('board_red');
                $("#myAddrs").removeClass('board_red');
                $("#first_name").removeClass('board_red');
                $("#email").removeClass('board_red');
                $("#code").removeClass('board_red');
                this.msginfo='';
                this.city=$("#myAddrs").val().trim();
                if(this.agree == false){
                    $("#agreeGroup").addClass('board_red');
                    this.msginfo='未同意隐私政策'
                    flag = false;
                }

                if(this.password.trim()!=this.confirmPassword.trim()){
                    $("#password").addClass('board_red');
                    $("#confirmPassword").addClass('board_red');
                    this.msginfo='两次密码不一致'
                    flag = false;
                }
                 if(this.password.length<8){
                    $("#password").addClass('board_red');
                    $("#confirmPassword").addClass('board_red');
                    this.msginfo='密码长度不能少于8位'
                    flag = false;
                }
                if(this.password.trim()==''||this.confirmPassword.trim()==''){
                    $("#password").addClass('board_red');
                    $("#confirmPassword").addClass('board_red');
                    this.msginfo='两次密码不能为空'
                    flag = false;
                }
                if($("#myAddrs").val().trim()==''){
                    $("#myAddrs").addClass('board_red');
                    this.msginfo='请选择城市'
                    flag = false;
                }
                if($("#code").val().trim()==''){
                    $("#code").addClass('board_red');
                    this.msginfo='验证码不能为空';
                    flag=false;
                }

                if(this.nickname.trim()==''){
                    $("#first_name").addClass('board_red');
                    this.msginfo='请输入昵称'
                    flag = false;
                }
                  if(that.validationEmail() == false){
                    $("#email").addClass('board_red');
                    this.msginfo='邮箱无效'
                    flag = false;
                }
                if(this.username.trim()==''){
                    $("#email").addClass('board_red');
                    this.msginfo='请输入邮箱'
                    flag = false;
                }
                return flag;
            }
            }
            })
    </script>
    <script>
    $(function() {
        /**
         * 通过数组id获取地址列表数组
         *
         * @param {Number} id
         * @return {Array}
         */
        function getAddrsArrayById(id) {
            var results = [];
            if (addr_arr[id] != undefined)
                addr_arr[id].forEach(function(subArr) {
                    results.push({
                        key: subArr[0],
                        val: subArr[1]
                    });
                });
            else {
                return;
            }
            return results;
        }
        /**
         * 通过开始的key获取开始时应该选中开始数组中哪个元素
         *
         * @param {Array} StartArr
         * @param {Number|String} key
         * @return {Number}
         */
        function getStartIndexByKeyFromStartArr(startArr, key) {
            var result = 0;
            if (startArr != undefined)
                startArr.forEach(function(obj, index) {
                    if (obj.key == key) {
                        result = index;
                        return false;
                    }
                });
            return result;
        }

        //bind the click event for 'input' element
        $("#myAddrs").click(function() {
            var PROVINCES = [],
                startCities = [],
                startDists = [];
            //Province data，shall never change.
            addr_arr[0].forEach(function(prov) {
                PROVINCES.push({
                    key: prov[0],
                    val: prov[1]
                });
            });
            //init other data.
            var $input = $(this),
                dataKey = $input.attr("data-key"),
                provKey = 1,
                cityKey = 36,
                distKey = 37,
                distStartIndex = 0, //default 0
                cityStartIndex = 0, //default 0
                provStartIndex = 0; //default 0

            if (dataKey != "" && dataKey != undefined) {
                var sArr = dataKey.split("-");
                if (sArr.length == 3) {
                    provKey = sArr[0];
                    cityKey = sArr[1];
                    distKey = sArr[2];

                } else if (sArr.length == 2) {
                    provKey = sArr[0];
                    cityKey = sArr[1];
                }
                startCities = getAddrsArrayById(provKey);
                startDists = getAddrsArrayById(cityKey);
                provStartIndex = getStartIndexByKeyFromStartArr(PROVINCES, provKey);
                cityStartIndex = getStartIndexByKeyFromStartArr(startCities, cityKey);
                distStartIndex = getStartIndexByKeyFromStartArr(startDists, distKey);
            }
            var navArr = [{//3 scrollers, and the title and id will be as follows:
                title: "省",
                id: "scs_items_prov"
            }, {
                title: "市",
                id: "scs_items_city"
            }, {
                title: "区",
                id: "scs_items_dist"
            }];
            SCS.init({
                navArr: navArr,
                onOk: function(selectedKey, selectedValue) {
                    $input.val(selectedValue).attr("data-key", selectedKey);
                }
            });
            var distScroller = new SCS.scrollCascadeSelect({
                el: "#" + navArr[2].id,
                dataArr: startDists,
                startIndex: distStartIndex
            });
            var cityScroller = new SCS.scrollCascadeSelect({
                el: "#" + navArr[1].id,
                dataArr: startCities,
                startIndex: cityStartIndex,
                onChange: function(selectedItem, selectedIndex) {
                    distScroller.render(getAddrsArrayById(selectedItem.key), 0); //re-render distScroller when cityScroller change
                }
            });
            var provScroller = new SCS.scrollCascadeSelect({
                el: "#" + navArr[0].id,
                dataArr: PROVINCES,
                startIndex: provStartIndex,
                onChange: function(selectedItem, selectedIndex) { //re-render both cityScroller and distScroller when provScroller change
                    cityScroller.render(getAddrsArrayById(selectedItem.key), 0);
                    distScroller.render(getAddrsArrayById(cityScroller.getSelectedItem().key), 0);
                }
            });
        });
    });
    </script>
</body>
</html>