<!DOCTYPE html>
<head>
	<title>登录</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link href="css/login/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="css/login/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="css/login/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
	<link href="css/login/css/templatemo_style.css" rel="stylesheet" type="text/css">
</head>
<body class="templatemo-bg-gray">
	<div class="container" id="app">
		<div class="col-md-12">
			<h1 class="margin-bottom-15">论&nbsp;坛&nbsp;登&nbsp;录</h1>
			<form class="form-horizontal templatemo-container templatemo-login-form-1 margin-bottom-30" role="form" action="#" method="post">				
		        <div class="form-group">
		          <div class="col-xs-12">		            
		            <div class="control-wrapper">
		            	<label for="username" class="control-label fa-label"><i class="fa fa-user fa-medium"></i></label>
		            	<input type="text" class="form-control" id="username" placeholder="用户名" v-model="userName">
		            </div>		            	            
		          </div>              
		        </div>
		        <div class="form-group">
		          <div class="col-md-12">
		          	<div class="control-wrapper">
		            	<label for="password" class="control-label fa-label"><i class="fa fa-lock fa-medium"></i></label>
		            	<input type="password" class="form-control" id="password" placeholder="密码" v-model="userPassword">
		            </div>
		          </div>
		        </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="control-wrapper" id="loginCodeDiv">
                            <label for="password" class="control-label fa-label" id="loginCodeCoin"><i class="fa fa-key fa-medium"></i></label>
                            <input type="button" class="form-control" value="点击验证" v-model="loginCodeButton" v-on:click="loginCode" id="loginCode" :disabled="isLoginCodeActive">
                        </div>
                    </div>
                </div>
		        <div class="form-group">
		          <div class="col-md-12">
	             	<div class="checkbox control-wrapper">
	                	<label>
	                  		<input type="checkbox"> 记住我
                		</label>
	              	</div>
		          </div>
		        </div>
		        <div class="form-group">
		          <div class="col-md-12">
		          	<div class="control-wrapper">
		          		<input type="button" value="登录" class="btn btn-info" v-on:click="login">
		          		<a href="forgot-password.html" class="text-right pull-right">忘记密码</a>
		          	</div>
		          </div>
		        </div>
		        <hr>
		        <div class="form-group">
		        	<div class="col-md-12">
		        		<label>Login with: </label>
		        		<div class="inline-block">
		        			<a href="#"><i class="fa fa-facebook-square login-with"></i></a>
			        		<a href="#"><i class="fa fa-twitter-square login-with"></i></a>
			        		<a href="#"><i class="fa fa-google-plus-square login-with"></i></a>
			        		<a href="#"><i class="fa fa-tumblr-square login-with"></i></a>
			        		<a href="#"><i class="fa fa-github-square login-with"></i></a>
		        		</div>		        		
		        	</div>
		        </div>
		      </form>
		      <div class="text-center">
		      	<a href="create-account.html" class="templatemo-create-new">创建新账号 <i class="fa fa-arrow-circle-o-right"></i></a>
		      </div>
		</div>
	</div>
    <script src="js/vue.min.js"></script>
    <script src="js/md5.js"></script>
    <script src="js/customs.js"></script>
    <script src="js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        var vm = new Vue({
            el:'#app',
            data:{
                userName:'',
                userPassword:'',
                isLoginCodeActive: false,
                loginCodeButton: '点击验证'
            },
            methods:{
                login:function(event){
                    this.userName = strToMD5(this.userName)
                    alert(this.userName)
                },
                loginCode:function(event){
                    var totalTime =5
                    alert('1')
                    this.isLoginCodeActive = true

                    var clock = window.setInterval(() => {
                    totalTime--
                    this.loginCodeButton=totalTime+'s后重新发送'
                    if(totalTime == 0){
                        window.clearInterval(clock);
                        this.isLoginCodeActive = false
                        this.loginCodeButton='点击验证'
                        }
                    },1000)

                }
            }
        })
    </script>
</body>
</html>