<!DOCTYPE html>
<head>
	<title>登录</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link href="css/login/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="css/login/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="css/login/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
	<link href="css/login/css/templatemo_style.css" rel="stylesheet" type="text/css">
    <link href="css/custom.css" rel="stylesheet" type="text/css">
</head>
<body class="templatemo-bg-gray">
	<div class="container" id="app">
		<div class="col-md-12">
			<h1 class="margin-bottom-15">论&nbsp;坛&nbsp;登&nbsp;录</h1>
			<form class="form-horizontal templatemo-container templatemo-login-form-1 margin-bottom-30" role="form" action="#" method="post">				
		        <div class="form-group">
		          <div class="col-xs-12">		            
		            <div class="control-wrapper">
		            	<label for="username" class="control-label fa-label"><i class="fa fa-user fa-medium"></i></label>
		            	<input type="text" class="form-control" v-bind:class="[username_board_red]" id="username" placeholder="用户名" v-model="userName">
		            </div>		            	            
		          </div>              
		        </div>
		        <div class="form-group">
		          <div class="col-md-12">
		          	<div class="control-wrapper">
		            	<label for="password" class="control-label fa-label"><i class="fa fa-lock fa-medium"></i></label>
		            	<input type="password" class="form-control" v-bind:class="[password_board_red]" id="password" placeholder="密码" v-model="userPassword">
		            </div>
		          </div>
		        </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="control-wrapper" id="loginCodeDiv">
                            <label for="password" class="control-label fa-label" id="loginCodeCoin"><i class="fa fa-key fa-medium"></i></label>
                            <input type="button" class="form-control" v-bind:class="[loginCodeClass]" value="点击验证" v-model="loginCodeButton" v-on:click="loginCode" id="loginCode" :disabled="isLoginCodeActive">
                        </div>
                    </div>
                </div>
		        <div class="form-group">
		          <div class="col-md-12">
	             	<div class="checkbox control-wrapper">
	                	<label>
	                  		<input type="checkbox" v-model="rememberMe"> 记住我
                		</label>
	              	</div>
		          </div>
		        </div>
		        <div class="form-group">
		          <div class="col-md-12">
		          	<div class="control-wrapper">
		          		<input type="button" value="登录" class="btn btn-info" v-on:click="login" :disabled="isLoginActive" v-model="loginButton" :disabled="isLoginActive">
                        <label style="color: red;">{{warming}}</label>
		          		<a href="forgot-password.html" class="text-right pull-right">忘记密码</a>
		          	</div>
		          </div>
		        </div><!--
		        <hr>
		        <div class="form-group">
		        	<div class="col-md-12">
		        		<label>Login with: </label>
		        		<div class="inline-block">
		        			<a href="#"><i class="fa fa-facebook-square login-with"></i></a>
			        		<a href="#"><i class="fa fa-twitter-square login-with"></i></a>
			        		<a href="#"><i class="fa fa-google-plus-square login-with"></i></a>
			        		<a href="#"><i class="fa fa-tumblr-square login-with"></i></a>
			        		<a href="#"><i class="fa fa-github-square login-with"></i></a>
		        		</div>		        		
		        	</div>
		        </div>-->
		      </form>
		      <div class="text-center">
		      	<a href="create-account.html" class="templatemo-create-new">创建新账号 <i class="fa fa-arrow-circle-o-right"></i></a>
		      </div>
		</div>
	</div>
    <!--<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>-->

    <script src="js/vue.min.js"></script>
    <script src="js/md5.js"></script>
    <script src="js/customs.js"></script>
    <script src="js/jquery-1.8.3.min.js"></script>
	<script src="js/base64.js"></script>
    <script src="js/jsencrypt.min.js"></script>
    <script type="text/javascript">
        var vm = new Vue({
            el:'#app',
            data:{
                userName:'',
                userPassword:'',
                isLoginCodeActive:false,
                isLoginActive:false,
                loginCodeButton: '点击验证',
                loginButton: '登录',
                totalTimes:5,
                msgInfo:'',
                token:'',
                loginCodeClass:'btn-primary',
                totalTime:0,
                publicKey:'',
                rememberMe:false,
                warming:'',
                username_board_red:'',
                password_board_red:'',
                isLoginActive:false
            },
            methods:{
                beforeCreate:function(){
                    window.intervalObj="";
                },
                countdown:function(){
                    if(this.totalTime <= 0){
                        this.isLoginCodeActive = false;
                        this.loginCodeButton='点击验证';
                        this.loginCodeClass='btn-primary'
                        window.clearInterval(intervalObj);
                        this.msgInfo=''
                    }else{
                        this.totalTime = this.totalTime-1;
                        this.loginCodeClass='btn btn-danger'
                        this.loginCodeButton=(this.msgInfo+this.totalTime+"s后重新发送");
                    }
                },
                login:function(){
                    this.isLoginActive=true
                    this.loginButton='登录中...'
                    this.password_board_red='';
                    this.username_board_red='';
                    this.warming="";
                    var isCommit = true
                    var that = this;
                    var encrypt = new JSEncrypt();
                    encrypt.setPublicKey(this.publicKey)
                    var encrypted = encrypt.encrypt(strToMD5(this.userPassword));
                    if(this.token.trim() == ''||this.publicKey.trim()==''){
                        this.warming="请点击进行验证"
                        isCommit = false
                        this.isLoginActive=false
                        this.loginButton="登录"
                    }else if(this.userName.trim() == ''){
                        this.warming="请输入用户名"
                        this.username_board_red='board_red';
                        isCommit = false
                        this.isLoginActive=false
                        this.loginButton="登录"
                    }else if(this.userPassword.trim() == ''){
                        this.warming="请输入密码"
                        this.password_board_red='board_red';
                        isCommit = false
                        this.isLoginActive=false
                        this.loginButton="登录"
                    }
                    if(isCommit){
                        $.ajax({
                            type:"POST",
                            url:" /login",
                            dataType:"json",
                            timeout : 50000,
                            data: { token: this.token, username: this.userName, password:encrypted },
                            success:function(ret){
                                if(ret.msg.msgCode == '200'){
                                    location.href="main"
                                }else{
                                    that.warming=ret.msg.msgInfo
                                    that.isLoginActive=false
                                    that.loginButton="登录"
                                    that.isLoginCodeActive = false;
                                    that.loginCodeButton='点击验证'
                                    that.loginCodeClass='btn-primary'
                                }
                            },
                            complete: function (XMLHttpRequest, textStatus) {
                                if(textStatus == 'timeout') {
                                    that.warming = "连接超时，请稍后再试";
                                    that.isLoginActive = false
                                    that.loginButton = "登录"
                                }
                            },
                            error:function(jqXHR){
                                that.waiting="服务器繁忙，请稍后再试"
                                that.isLoginActive=false
                                that.loginButton="登录"

                            }
                        });
                    }

                },
                loginCode:function () {
                    this.isLoginCodeActive = true;
                    var that = this;
                    this.totalTime = this.totalTimes;
                    this.loginCodeButton='正在验证'
                    //发送 post 请求
                    $.ajax({
                        type:"POST",
                        url:" /token",
                        dataType:"json",
                        timeout : 5000,
                        success:function(ret){
                            if(ret.msg.msgCode == '201'){
                                that.loginCodeButton=ret.msg.msgInfo
                                that.loginCodeClass='btn-success'
                                that.publicKey=ret.publicKey;
                                that.token=ret.token;
                            }else{
                                that.msgInfo=ret.msg.msgInfo+","
                                window.intervalObj=setInterval(()=>that.countdown(),1000);
                            }
                        },
                        complete: function (XMLHttpRequest, textStatus) {
                            if(textStatus == 'timeout'){
                                that.loginCodeClass='btn btn-danger'
                                that.isLoginCodeActive = false;
                                that.loginCodeButton=("连接超时，请稍后再试");
                            }
                        },
                        error:function(jqXHR){
                            that.loginCodeClass='btn btn-danger'
                            that.isLoginCodeActive = false;
                            that.loginCodeButton=("服务器繁忙，请稍后再试");
                        }
                    });

                }
            }
        })
    </script>
</body>
</html>