
<link rel='stylesheet' id='bootstrap.css'  th:href='@{/css/login/css/bootstrap.min.css}' type='text/css' media='all' />
<link rel='stylesheet' id='toolkit.css'  th:href='@{/css/toolkit.css}' type='text/css' media='all' />
<link rel='stylesheet' id='application.css'  th:href='@{/css/application.css}' type='text/css' media='all' />
<link rel='stylesheet' id='font-awesome.css'  th:href='@{/css/login/css/font-awesome.min.css}' type='text/css' media='all' />
<link rel='stylesheet' id='custom.css'  th:href='@{/css/custom.css}' type='text/css' media='all' />
<link rel='stylesheet' id='bootstrap-fileinput.css'  th:href='@{/css/bootstrap-fileinput.css}' type='text/css' media='all' />
<link rel='stylesheet' id='font-face.css'  th:href='@{/css/font-face.css}' type='text/css' media='all' />
<link rel='stylesheet' id='bootstrap-select.min.css'  th:href='@{/css/bootstrap-select.min.css}' type='text/css' media='all' />
