<ul class="ca bow box afa fade-in-animation">
    <li class="b agz">
        <h4 class="aeh">加入论坛</h4>
    </li>



    <li class="b rv agz">
        <span class="h bnb axc aey yb"></span>

        <div class="rw">
            <small class="acx axc">30 min</small>
            <div class="bpb">
                You followed <a href="#"><strong>Jacob Thornton</strong></a> and <a href="#"><strong>1 other</strong></a>
            </div>

            <div class="aew">
                <div class="dp">

                    <div class="fm ">
                        <div class="pz bpi afa">
                            <div class="qf" style="background-image: url(images/instagram_4.jpg);"></div>
                            <div class="qa avz">
                                <!--<img class="bpj" src="../assets/img/avatar-fat.jpg">-->
                                <h5 class="qb">论坛1</h5>
                                <p class="afo">论坛1的简介</p>
                                <button class="cg nz ok">
                                    <span class="h ayi"></span> 进入
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="fm">
                        <div class="pz bpi afa">
                            <div class="qf" style="background-image: url(images/instagram_4.jpg);"></div>
                            <div class="qa avz">
                                <!--<img class="bpj" src="../assets/img/avatar-fat.jpg">-->
                                <h5 class="qb">论坛2</h5>
                                <p class="afo">论坛2的简介</p>
                                <button class="cg nz ok">
                                    <span class="h ayi"></span> 进入
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="fm">
                        <div class="pz bpi afa">
                            <div class="qf" style="background-image: url(images/instagram_4.jpg);"></div>
                            <div class="qa avz">
                                <!--<img class="bpj" src="../assets/img/avatar-fat.jpg">-->
                                <h5 class="qb">论坛3</h5>
                                <p class="afo">论坛3的简介</p>
                                <button class="cg nz ok">
                                    <span class="h ayi"></span> 进入
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </li>


</ul>