<ul class="ca bow box afo">

    <li class="rv b agz fade-in-animation">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Message">
            <div class="bpt">
                <button type="button" class="cg ns yf">
                    <span class="h bao"></span>
                </button>
            </div>
        </div>
    </li>

    <li class="rv b agz fade-in-animation">
        <img
                class="bos vb yb aff"
                src="images/avatar-dhg.png">
        <div class="rw">
            <div class="bpb">
                <small class="acx axc">4 min</small>
                <h6>Dave Gamache</h6>
            </div>

            <p>
                Aenean lacinia bibendum nulla sed consectetur. Vestibulum id ligula porta felis euismod semper. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            </p>

            <!--<div class="boy" data-grid="images">-->
                <!--<div style="display: none">-->
                    <!--<img data-action="zoom" data-width="1331" data-height="887" src="images/unsplash_1.jpg" style="width: 30vw;height: 30vh">-->
                <!--</div>-->

                <!--<div style="display: none">-->
                    <!--<img data-action="zoom" data-width="640" data-height="640" src="images/instagram_1.jpg">-->
                <!--</div>-->

                <!--<div style="display: none">-->
                    <!--<img data-action="zoom" data-width="612" data-height="612" src="images/instagram_13.jpg">-->
                <!--</div>-->

                <!--<div style="display: none">-->
                    <!--<img data-action="zoom" data-width="1535" data-height="1024" src="images/unsplash_2.jpg">-->
                <!--</div>-->
            <!--</div>-->
            <ul class="figure-list boy" data-grid="images">
                <li>
                    <img data-action="zoom"  style="background-image:url(images/unsplash_1.jpg)" src="images/unsplash_1.jpg" url="images/unsplash_1.jpg"/>
                </li>

                <li>
                    <img data-action="zoom" style="background-image:url(images/instagram_1.jpg)" src="images/instagram_1.jpg"/>
                </li>
                <li>
                    <img data-action="zoom" style="background-image:url(images/instagram_13.jpg)" src="images/instagram_13.jpg"/>
                </li>
                <li>
                    <img data-action="zoom" style="background-image:url(images/unsplash_1.jpg)" src="images/unsplash_1.jpg"/>
                </li>
                <li>
                    <img data-action="zoom" style="background-image:url(images/instagram_13.jpg)" src="images/instagram_13.jpg"/>
                </li>
                <li>
                    <img data-action="zoom" style="background-image:url(images/unsplash_1.jpg)" src="images/unsplash_1.jpg"/>
                </li>
                <li>
                    <img data-action="zoom" style="background-image:url(images/unsplash_2.jpg)" src="images/unsplash_2.jpg"/>
                </li>

            </ul>


            <ul class="bow afa">
                <li class="rv afh">
                    <div class="rw well">
                        <p><strong style="color:red;">Hot: </strong></p>
                        Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec ullamcorper nulla non metus auctor fringilla. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis.
                        <ul class="figure-list boy" data-grid="images">
                            <li>
                                <img data-action="zoom"  style="background-image:url(images/unsplash_1.jpg)" src="images/unsplash_1.jpg" url="images/unsplash_1.jpg"/>
                            </li>

                            <li>
                                <img data-action="zoom" style="background-image:url(images/instagram_1.jpg)" src="images/instagram_1.jpg"/>
                            </li>
                            <li>
                                <img data-action="zoom" style="background-image:url(images/instagram_13.jpg)" src="images/instagram_13.jpg"/>
                            </li>
                            <li>
                                <img data-action="zoom" style="background-image:url(images/unsplash_1.jpg)" src="images/unsplash_1.jpg"/>
                            </li>
                            <li>
                                <img data-action="zoom" style="background-image:url(images/instagram_13.jpg)" src="images/instagram_13.jpg"/>
                            </li>
                            <li>
                                <img data-action="zoom" style="background-image:url(images/unsplash_1.jpg)" src="images/unsplash_1.jpg"/>
                            </li>
                            <li>
                                <img data-action="zoom" style="background-image:url(images/unsplash_2.jpg)" src="images/unsplash_2.jpg"/>
                            </li>

                        </ul>
                    </div>
                </li>
                <!--<li class="rv">-->
                    <!--<img-->
                            <!--class="bos vb yb aff"-->
                            <!--src="images/avatar-mdo.png">-->
                    <!--<div class="rw">-->
                        <!--<strong>Mark Otto: </strong>-->
                        <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.-->
                    <!--</div>-->
                <!--</li>-->
            </ul>
        </div>
    </li>


    <li class="rv b agz">

        <div class="rw">
            <div class="bpb" id="refreshing">
                <h6 align="center"><i class="fa fa-circle-o-notch fa-spin fa-2x" style="width: auto;height:auto;"></i><strong>正在加载</strong></h6>
            </div>

        </div>
    </li>


</ul>