

    <div class="rw" id="refreshing">
        <div class="bpb" >
            <h6 align="center"><i class="fa fa-circle-o-notch fa-spin fa-2x"
                                  style="width: auto;height:auto;"></i><strong>正在加载</strong></h6>
        </div>
    </div>

    <div class="rw hidden" id="loadComplete">
        <div class="bpb" >
            <h6 align="center"><strong>已经全部加载完啦~</strong><a href="javascript:void(0)" onclick="" id="loadCompleteFinish">刷新</a></h6>
        </div>
    </div>
