<div class="cd fade" id="msgModal" tabindex="-1" role="dialog" aria-labelledby="bpq" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="d">
                <h5 class="modal-title">Messages</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>

            <div class="modal-body afx js-modalBody">
                <div class="axw">
                    <div class="bow cj ca js-msgGroup">
                        <a href="#" class="b rx">
                            <div class="rv">
                                <img class="us bos vb yb aff" src="images/avatar-fat.jpg">
                                <div class="rw">
                                    <strong>Jacob Thornton</strong> and <strong>1 other</strong>
                                    <div class="bpg">
                                        Aenean eu leo quam. Pellentesque ornare sem lacinia quam &hellip;
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="b rx">
                            <div class="rv">
                                <img class="us bos vb yb aff" src="images/avatar-mdo.png">
                                <div class="rw">
                                    <strong>Mark Otto</strong> and <strong>3 others</strong>
                                    <div class="bpg">
                                        Brunch sustainable placeat vegan bicycle rights yeah…
                                    </div>
                                </div>
                            </div>
                        </a>





                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>