<html lang="zh_CN" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<div shiro:user>
    <div class="pz bpi afo fade-in-animation">
        <div class="qf" style="background-image: url(images/iceland.jpg);"></div>
        <div class="qa avz">
            <a href="profile/index.html">
                <img class="bpj" src="images/no_user_image.png" id="userImg">
            </a>
            <h6 class="qb">
                <a class="boa" href="profile/index.html"><shiro:principal property="nickname"/></a>
            </h6>
            <i class="fa fa-mars hidden width-auto height-auto color-sex-blue" id="man"></i>
            <i class="fa-mars fa fa-rotate-180 hidden width-auto height-auto color-sex-red"  id="woman"></i>

            <!--<p class="afo"></p>-->

            <ul class="bpk">
                <li class="bpl">
                    <a href="#userModal" class="boa" data-toggle="modal">
                        Friends
                        <h6 class="aej">12M</h6>
                    </a>
                </li>

                <li class="bpl">
                    <a href="#userModal" class="boa" data-toggle="modal">
                        Enemies
                        <h6 class="aej">1</h6>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div shiro:guest>
    <div class="pz bpi afo fade-in-animation" >
        <div class="qf" style=""></div>
        <div class="qa avz">
            <a href="profile/index.html">
                <img
                        class="bpj"
                        src="images/no_user_image.png">
            </a>
            <div class="form-group">
            <h6 class="qb">
                <a class="" href="login.html">登录</a>
            </h6>
            </div>
            <!--<p class="afo"></p>-->


        </div>
    </div>
</div>
<script>
    var sex = $("#sex").text();
    var userImghidden = $("#userImghidden").text();
    if(userImghidden !=null && userImghidden.trim().length>0 && userImghidden != 'null' && userImghidden.trim() != 'null'){
    $("#userImg").prop("src", userImghidden);
    }

    if(sex == '1'){
      $("#woman").removeClass("hidden");
      }else{
      $("#man").removeClass("hidden");
      }
</script>