<Shiro:user>
<div class="pz vp vy afo">
    <a class="btn btn-primary width100per" data-toggle="collapse" href="#userinfo" role="button" aria-expanded="false"
       aria-controls="collapseExample">
        编辑个人信息
    </a>
    <div class="collapse" id="userinfo">
        <div class="card card-body">
            <div class="qa">
                <h6 class="afh">关于
                    <small>· <a href="#">编辑</a></small>
                </h6>
                <ul class="dc axg">
                    <li>昵称 <a href="javascript:void(0)"><shiro:principal property="nickname"/></a></li>
                    <li>性别 <a href="javascript:void(0)" id="sex_info"></a>
                    </li>
                    <li>来自 <a href="javascript:void(0)"><shiro:principal property="province"/><shiro:principal property="city"/><shiro:principal property="dist"/></a>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    var sex = $("#sex").text();
    if(sex == '0'){
    $("#sex_info").text("男");
    }else if(sex == '1'){
    $("#sex_info").text("女");
    }
</script>
</Shiro:user>