<div class="pz bpi afo">
    <div class="qf" style="background-image: url(images/iceland.jpg);"></div>
    <div class="qa avz">
        <a href="profile/index.html">
            <img
                    class="bpj"
                    src="images/avatar-dhg.png">
        </a>

        <h6 class="qb">
            <a class="boa" href="profile/index.html">Dave Gamache</a>
        </h6>

        <p class="afo">I wish i was a little bit taller, wish i was a baller, wish i had a girl… also.</p>

        <ul class="bpk">
            <li class="bpl">
                <a href="#userModal" class="boa" data-toggle="modal">
                    Friends
                    <h6 class="aej">12M</h6>
                </a>
            </li>

            <li class="bpl">
                <a href="#userModal" class="boa" data-toggle="modal">
                    Enemies
                    <h6 class="aej">1</h6>
                </a>
            </li>
        </ul>
    </div>
</div>

