<html lang="zh_CN" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<div shiro:user>
    <div class="pz bpi afo fade-in-animation">
        <div class="qf" style="background-image: url(images/iceland.jpg);"></div>
        <div class="qa avz">
            <a href="profile/index.html">
                <img class="bpj" src="images/no_user_image.png" id="userImg">
            </a>
            <h6 class="qb">
                <a class="boa" href="profile/index.html"><shiro:principal property="nickname"/></a>
            </h6>
            <i class="fa fa-mars hidden width-auto height-auto color-sex-blue" id="man"></i>
            <i class="fa-mars fa fa-rotate-180 hidden width-auto height-auto color-sex-red"  id="woman"></i>

            <!--<p class="afo"></p>-->

            <ul class="bpk">
                <li class="bpl">
                    <a href="javascript:void(0);" class="boa" id="index_followed">
                        关注<h7 class="aej" ><i class="fa fa-refresh fa-spin"></i></h7>
                    </a>
                </li>

                <li class="bpl">
                    <a href="javascript:void(0);" class="boa" id="index_friend">
                        粉丝<h7 class="aej" ><i class="fa fa-refresh fa-spin"></i></h7>
                    </a>
                </li>


            </ul>
        </div>
    </div>
</div>

<div shiro:guest>
    <div class="pz bpi afo fade-in-animation" >
        <div class="qf" style=""></div>
        <div class="qa avz">
            <a href="profile/index.html">
                <img
                        class="bpj"
                        src="images/no_user_image.png">
            </a>
            <div class="form-group">
            <h6 class="qb">
                <a class="" href="login.html">登录</a>
            </h6>
            </div>
            <!--<p class="afo"></p>-->


        </div>
    </div>
</div>
<script>
    var sex = $("#sex").text();
    var userImghidden = $("#userImghidden").text();
    if(userImghidden !=null && userImghidden.trim().length>0 && userImghidden != 'null' && userImghidden.trim() != 'null'){
    $("#userImg").prop("src", userImghidden);
    }

    if(sex == '1'){
      $("#woman").removeClass("hidden");
      }else{
      $("#man").removeClass("hidden");
      }
if(isAuthority()){
getUserFollowedInfo();
}
      function getUserFollowedInfo(){
      $.ajax({
            type:"POST",
            url:"/user/user-info",
            dataType:"json",
            timeout : 50000,
            data: { sid:$("#userSid").text()},
            success:function(data){
                if(data.hasOwnProperty("msg")){
                    userPageAlert('',  data.msg.msgInfo);
                    return;
                }
                $("#index_followed").html("关注<h6 class='aej' >"+data.friendCount+"</h6>");
                $("#index_friend").html("粉丝<h6 class='aej' >"+data.followedCount+"</h6>");
            },
            complete: function (XMLHttpRequest, textStatus) {
                if(textStatus == 'timeout') {
                    userPageAlert('',  '连接超时，请稍后再试')
                }
            },
            error:function(jqXHR){
                userPageAlert('',  '服务器繁忙，请稍后再试')
            }
        });
      }

</script>