<div class="pz vp vy afo">
    <div class="qa">
        <h6 class="afh">About <small>· <a href="#">Edit</a></small></h6>
        <ul class="dc axg">
            <li><span class="axc h ban aff"></span>Went to <a href="#">Oh, Canada</a>
            <li><span class="axc h bnc aff"></span>Became friends with <a href="#">Obama</a>
            <li><span class="axc h bfa aff"></span>Worked at <a href="#">Github</a>
            <li><span class="axc h bfq aff"></span>Lives in <a href="#">San Francisco, CA</a>
            <li><span class="axc h bgz aff"></span>From <a href="#">Seattle, WA</a>
        </ul>
    </div>
</div>