<ul class="ca bow box afa fade-in-animation">
    <li class="b agz">
        <h4 class="aeh">加入论坛</h4>
    </li>


    <li class="b rv agz">
        <span class="h  axc aey yb"></span>

        <div class="rw">


            <div class="aew">
                <div class="dp" id="newlyforum">


                    <!--<div class="fm">-->
                    <!--<div class="pz bpi afa">-->
                    <!--<div class="qf" style="background-image: url(images/instagram_4.jpg);"></div>-->
                    <!--<div class="qa avz">-->
                    <!--&lt;!&ndash;<img class="bpj" src="../assets/img/avatar-fat.jpg">&ndash;&gt;-->
                    <!--<h5 class="qb">论坛3</h5>-->
                    <!--<p class="afo">论坛3的简介</p>-->
                    <!--<button class="cg nz ok">-->
                    <!--<span class="h ayi"></span> 进入-->
                    <!--</button>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->


                </div>
            </div>
        </div>
    </li>
    <li class="rv b agz" id="single_forum_list">
        <div th:replace="/common/index/loading.html"></div>
    </li>

</ul>

<script>

refreshForumList();
$("#loadCompleteFinish").attr("onclick","forumListFresh()");
    $('#newlyforum').val(50);
    var forum_list_loading = false;
    $(window).scroll(function(){
      if((($(window).scrollTop()+$(window).height())+250)>=$(document).height()){
        if(forum_list_loading == false){
           forum_list_loading = true;
           if(isSingleForumloading){
             getSingleForum();
            }
           $('#newlyforum').val(parseInt($('#newlyforum').val())+50);
           forum_list_loading = false;
         }}
        });

function forumListFresh(){
        isForumListloading = true;
        $("#refreshing").removeClass("hidden");
        $("#loadComplete").addClass("hidden");
        refreshForumList();
}

    function refreshForumList(){
    if(isForumListloading){
    $("#refreshing").removeClass("hidden");
    $("#loadComplete").addClass("hidden");
    isForumListloading = false;
     $.ajax({
        type:"POST",
        url:"/user-forum/forumlist",
        dataType:"json",
        timeout : 50000,
        data: { page:page },
        success:function(data){
        if(jsonMsgValidation(data)){
            for(var o in data){
                var s ="<div class='fm'><div class='pz bpi afa'>";
                var img = isEmpty(data[o].img) == true ?'images/instagram_4.jpg':data[o].img;
                s += "<div class='qf' style='background-image: url("+img+");'></div><div class='qa avz'><!--<img class='bpj' src='../assets/img/avatar-fat.jpg'>-->";
                s += "<h5 class='qb'>"+data[o].fname+"</h5>";
                s += "<p class='afo'>"+data[o].description+"</p>";
                s += "<a class='cg nz ok'  onclick=\"jump(";
                s += "\'\/single_forum?fid="+data[o].fid+"\')\">";
                s += "<span class='h color-blue'>进入</span> </a></div></div></div>";
                $("#newlyforum").append(s);
            }

        $("#refreshing").addClass("hidden");
        $("#loadComplete").addClass("hidden");
        page = page+1;
        isForumListloading = true;
        }else{
        isForumListloading = false;
        }
        },
        complete: function (XMLHttpRequest, textStatus) {
            forumTimeout();
            if(textStatus == 'timeout') {
                userPageAlert('',  '连接超时，请稍后再试')
                isForumListloading = true;
            }
        },
        error:function(jqXHR){
            forumError();
            isForumListloading = true;
        }
    });
    }
}

</script>