<ul class="ca bow box afo">

    <div th:replace="common/index/reply.html"></div>




    <li class="rv b agz" id="index-single-post">
        <div th:replace="/common/index/loading.html"></div>
    </li>


</ul>
<script>
 $(document).ready(function (){
    getRecommendPost();
    });
$("#loadCompleteFinish").attr("onclick","singleForumFresh()");
$('#index-single-post').val(50);
var index_single_post_loading = false;



$(window).scroll(function(){
 if((($(window).scrollTop()+$(window).height())+250)>=$(document).height()){
      if(index_single_post_loading == false){
           index_single_post_loading = true;
           if(isIndexloading){
            getRecommendPost();
           }
        $('#index-single-post').val(parseInt($('#index-single-post').val())+50);
        index_single_post_loading = false;
      }
 }
});
function getRecommendPost(){
    if(isIndexloading){
        $("#refreshing").removeClass("hidden");
        $("#loadComplete").addClass("hidden");
        isIndexloading = false;
        $.ajax({
        type:"POST",
        url:"/user-forum/recommend-post",
        dataType:"json",
        timeout : 50000,
        data: {page:page},
        success:function(data){
        if(jsonMsgValidation(data)){
            for(var o in data){
            var videoid = '';
            var s = "";
            s += forumMain(data[o]);
            $("#index-single-post").before(s);
        }
        page = page+1;
        $("#refreshing").addClass("hidden");
        $("#loadComplete").addClass("hidden");
        isIndexloading = true;
        }else{
        isIndexloading = false;
        }
        },
        complete: function (XMLHttpRequest, textStatus) {
        forumTimeout();
            if(textStatus == 'timeout') {
                userPageAlert('',  '连接超时，请稍后再试')
                isIndexloading = true;
            }
        },
        error:function(jqXHR){
        forumError();
        isIndexloading = true;
        }
    });
    }
}
</script>