<div style="overflow-y:auto">
<ul class="ca bow box afo">

    <li class="rv b agz" id="noneNotification"><div class="rw"><div class="bpb" ><h6>暂无消息</h6></div></div> </li>



    <li class="rv b agz" id="index-single-post">
        <!--<div th:replace="/common/index/loading.html"></div>-->
    </li>


</ul>
</div>
<script>
 $(document).ready(function (){
    getNotification();
    });
function getNotification(){
        $.ajax({
        type:"POST",
        url:"/user/notification-query",
        dataType:"json",
        timeout : 50000,
        data: {page:page},
        success:function(data){
            for(var o in data){
              $("#noneNotification").addClass('hidden');
               var s = "<li class='rv b agz'><div class='rw'><div class='bpb' ><h6>"+data[o].noun+"</h6></div></div> </li>"
               $("#index-single-post").before(s);
       }
        },
        complete: function (XMLHttpRequest, textStatus) {
        forumTimeout();
            if(textStatus == 'timeout') {
                userPageAlert('',  '连接超时，请稍后再试')
            }
        },
        error:function(jqXHR){
        forumError();
        }
    });
}
</script>