
<div th:replace="common/index/css_common.html"></div>

<div th:replace="common/index/js_common.html"></div>
<ul class="ca bow box afo">
    <input readonly th:value="${postid}" id="postid" class="hidden">
    <input readonly th:value="${fid}" id="fid" class="hidden">

    <li class="rv b agz fade-in-animation">
        <div class="input-group">
            <h7 id="title"></h7>
            <div class="bpt">
            </div>
        </div>
    </li>



    <div th:replace="/common/index/reply.html"></div>




    <li class="rv b agz" id="single_post_list">
        <div th:replace="/common/index/loading.html"></div>
    </li>

</ul>
<script>
    var page =1;
var isSinglePostloading = true;
$("#loadCompleteFinish").attr("onclick","singlePostFresh()");
$('#single_post_list').val(50);
var forum_post_loading = false;
getSinglePost();
$(window).scroll(function(){
 if((($(window).scrollTop()+$(window).height())+250)>=$(document).height()){
      if(forum_post_loading == false){
           forum_list_loading = true;
           if(isSinglePostloading){
            getSingleForum();
           }
        $('#single_post_list').val(parseInt($('#single_post_list').val())+50);
        forum_post_loading = false;
      }
 }
});

function singlePostFresh(){
    isSingleForumloading = true;
    $("#refreshing").removeClass("hidden");
    $("#loadComplete").addClass("hidden");
    getSinglePost();
}
    function getSinglePost(){
        var fid = $("#fid").val();
        var postid = $("#postid").val();
        if(isSinglePostloading){
            $("#refreshing").removeClass("hidden");
            $("#loadComplete").addClass("hidden");
            isSinglePostloading = false;
            $.ajax({
            type:"POST",
            url:"/user-forum/single-post",
            dataType:"json",
            timeout : 50000,
            data: { fid:fid ,page:page, postid:postid},
            success:function(data){
            var s = "";
            if(data.hasOwnProperty("userPostVOEntity")){
                s += postMain(data.userPostVOEntity)
                $("#reply").before(s);
            }
            if(jsonMsgValidation(data)){
                for(var o in data.userPostReplyVOEntity){
                    s = postReply(data.userPostReplyVOEntity[o]);
                    $("#single_post_list").before(s);
            }
            page = page+1;
            $("#refreshing").addClass("hidden");
            $("#loadComplete").addClass("hidden");
            isSinglePostloading = true;
            }else{
            isSinglePostloading = false;
            }
            },
            complete: function (XMLHttpRequest, textStatus) {
                 forumTimeout();
                if(textStatus == 'timeout') {
                    userPageAlert('',  '连接超时，请稍后再试')
                    isSinglePostloading = true;
                }
            },
            error:function(jqXHR){
                forumError();
                isSinglePostloading = true;
            }
        });
    }}

    function jumpForum(){
    jump('/single_forum?fid='+$("#fid").val());
    }
</script>