<ul class="ca bow box afo">

    <li class="rv b agz fade-in-animation">
        <div class="input-group">
            <h7 id="title"></h7>
            <input readonly th:value="${fid}" id="fid" class="hidden">
            <div class="bpt">
            </div>
        </div>
    </li>

    <li class="rv b agz fade-in-animation">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="有什么话想对我说...">
            <div class="bpt">
                <button type="button" class="cg ns yf">
                    <span class="h bao"></span>
                </button>
            </div>
        </div>
    </li>








            <!--<div class="boy" data-grid="images">-->
            <!--<div style="display: none">-->
            <!--<img data-action="zoom" data-width="1331" data-height="887" src="images/unsplash_1.jpg" style="width: 30vw;height: 30vh">-->
            <!--</div>-->

            <!--<div style="display: none">-->
            <!--<img data-action="zoom" data-width="640" data-height="640" src="images/instagram_1.jpg">-->
            <!--</div>-->

            <!--<div style="display: none">-->
            <!--<img data-action="zoom" data-width="612" data-height="612" src="images/instagram_13.jpg">-->
            <!--</div>-->

            <!--<div style="display: none">-->
            <!--<img data-action="zoom" data-width="1535" data-height="1024" src="images/unsplash_2.jpg">-->
            <!--</div>-->
            <!--</div>-->



            <!--<ul class="bow afa">-->
                <!--<li class="rv afh">-->
                    <!--<div class="rw well">-->
                        <!--<p><strong style="color:red;">最佳答案: </strong></p>-->
                        <!--Test-->
                        <!--<ul class="figure-list boy" data-grid="images">-->
                            <!--<li>-->
                                <!--<img data-action="zoom"  style="background-image:url(images/unsplash_1.jpg)" src="images/unsplash_1.jpg" url="images/unsplash_1.jpg"/>-->
                            <!--</li>-->

                            <!--<li>-->
                                <!--<img data-action="zoom" style="background-image:url(images/instagram_1.jpg)" src="images/instagram_1.jpg"/>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<img data-action="zoom" style="background-image:url(images/instagram_13.jpg)" src="images/instagram_13.jpg"/>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<img data-action="zoom" style="background-image:url(images/unsplash_1.jpg)" src="images/unsplash_1.jpg"/>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<img data-action="zoom" style="background-image:url(images/instagram_13.jpg)" src="images/instagram_13.jpg"/>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<img data-action="zoom" style="background-image:url(images/unsplash_1.jpg)" src="images/unsplash_1.jpg"/>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<img data-action="zoom" style="background-image:url(images/unsplash_2.jpg)" src="images/unsplash_2.jpg"/>-->
                            <!--</li>-->

                        <!--</ul>-->
                    <!--</div>-->
                <!--</li>-->

                <!--<li class="rv">-->
                <!--<img-->
                <!--class="bos vb yb aff"-->
                <!--src="images/avatar-mdo.png">-->
                <!--<div class="rw">-->
                <!--<strong>Mark Otto: </strong>-->
                <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.-->
                <!--</div>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</li>-->

    <li class="rv b agz" id="list" >

        <div class="rw">
            <div class="bpb" id="refreshing">
                <h6 align="center"><i class="fa fa-circle-o-notch fa-spin fa-2x" style="width: auto;height:auto;"></i><strong>正在加载</strong></h6>
            </div>

        </div>
    </li>

</ul>

<script>
 getpost();
    function getpost(){
    var fid = $("#fid").val();
        $.ajax({
        type:"POST",
        url:"/user-forum/single-forum-postlist",
        dataType:"json",
        timeout : 50000,
        data: { fid:fid },
        success:function(data){
        for(var o in data){
            var videoid = '';
            var s = "";
            var img = isEmpty(data[o].userImg) == true ?'images/no_user_image.png':data[o].userImg;
            s += "<li class='rv b agz fade-in-animation'><img class='bos vb yb aff' src='"+img+"'><div class='rw'><div class='bpb'><small class='acx axc'>";
            s += getDateDiff(data[o].lastupdatetime.substring(0, data[o].lastupdatetime.lastIndexOf('.')))+"</small><h6>"+data[o].title+"</h6></div><p>"+data[o].text+"</p>";
            if(data[o].type == '1'){
                s += "<ul class='figure-list boy' data-grid='images'>";
                    if(!isEmpty(data[o].img0)) s += "<li><img data-action='zoom'  style='background-image:url("+data[o].img0+")' src='"+data[o].img0+"' url='"+data[o].img0+"'/></li>";
                    if(!isEmpty(data[o].img1)) s += "<li><img data-action='zoom'  style='background-image:url("+data[o].img1+")' src='"+data[o].img1+"' url='"+data[o].img1+"'/></li>";
                    if(!isEmpty(data[o].img2)) s += "<li><img data-action='zoom'  style='background-image:url("+data[o].img2+")' src='"+data[o].img2+"' url='"+data[o].img2+"'/></li>";
                    if(!isEmpty(data[o].img3)) s += "<li><img data-action='zoom'  style='background-image:url("+data[o].img3+")' src='"+data[o].img3+"' url='"+data[o].img3+"'/></li>";
                    if(!isEmpty(data[o].img4)) s += "<li><img data-action='zoom'  style='background-image:url("+data[o].img4+")' src='"+data[o].img4+"' url='"+data[o].img4+"'/></li>";
                    if(!isEmpty(data[o].img5)) s += "<li><img data-action='zoom'  style='background-image:url("+data[o].img5+")' src='"+data[o].img5+"' url='"+data[o].img5+"'/></li>";
                    if(!isEmpty(data[o].img6)) s += "<li><img data-action='zoom'  style='background-image:url("+data[o].img6+")' src='"+data[o].img6+"' url='"+data[o].img6+"'/></li>";
                    if(!isEmpty(data[o].img7)) s += "<li><img data-action='zoom'  style='background-image:url("+data[o].img7+")' src='"+data[o].img7+"' url='"+data[o].img7+"'/></li>";
                    if(!isEmpty(data[o].img8)) s += "<li><img data-action='zoom'  style='background-image:url("+data[o].img8+")' src='"+data[o].img8+"' url='"+data[o].img8+"'/></li>";
                    s += "</ul>";
            }else if(data[o].type == '2'){
                videoid = S4();
                s += " <ul class='figure-list boy' data-grid='' ><li><video controls>";
                s += "<source src='"+data[o].video+"'  id='"+videoid+"'></source>";
                s += "您的浏览器不支持HTML5视频</video></li></ul>";
            }
            s += "<ul class='bow afa'><li class='rv afh'> <div class='rw well'><p><strong style='color:red;'>最佳: </strong></p>Test <ul class='figure-list boy' data-grid='images'></ul></div></li></ul>";
            s += "</div></li>"
            $("#title").text(data[o].fname)
            $("#list").before(s);




        }

        //$("#refreshing").addClass("hidden");
        },
        complete: function (XMLHttpRequest, textStatus) {
            if(textStatus == 'timeout') {
                userPageAlert('',  '连接超时，请稍后再试')
            }
        },
        error:function(jqXHR){
            userPageAlert('',  '服务器繁忙，请稍后再试')

        }
    });
    }
</script>