<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.w3.org/1999/xhtml">
<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <title>帖子</title>

    <div th:replace="common/index/css_common.html"></div>

    <div th:replace="common/index/js_common.html"></div>

</head>


<body class="bob" style="overflow: scroll;">
<nav class="ck pt adq py tk app-navbar">
    <a class="e" href="index.html">
        <i class="fa fa-angle-left fa-1x"></i>
    </a>
    <a class="e arrow-right" id="callback">
        <i class="fa fa-angle-right fa-1x"></i>
    </a>
</nav>
<div class="bon" id="app-growl"></div>
<div class="by aha ahl" >
    <div class="dp">
        <div class="fj"></div>
        <div class="fm" id="jump">
            <ul class="ca bow box afo">
                <input readonly th:value="${postid}" id="postid" class="hidden">
                <input readonly th:value="${fid}" id="fid" class="hidden">


                <li class="rv b agz fade-in-animation">
                    <div class="input-group">
                        <h7 id="title"></h7>
                        <div class="bpt">
                        </div>
                    </div>
                    <br>
                    <div class="input-group">
                        <a class="cg nz ok right-button" id="callback2">查看论坛</a>
                        <div class="bpt">
                        </div>
                    </div>
                </li>


                <div th:replace="/common/index/reply.html"></div>


                <li class="rv b agz" id="single_post_list">
                    <div th:replace="/common/index/loading.html"></div>
                </li>

            </ul>
        </div>
    </div>
</div>
</body>
<script>



var page =1;
var isSinglePostloading = true;
$("#callback").attr('href','index?callback=/single_forum?fid='+$("#fid").val());
$("#callback2").attr('href','index?callback=/single_forum?fid='+$("#fid").val());
$("#loadCompleteFinish").attr("onclick","singlePostFresh()");
$('#single_post_list').val(70);
var forum_post_loading = false;
getSinglePost();
$(window).scroll(function(){
 if((($(window).scrollTop()+$(window).height())+250)>=$(document).height()){
      if(forum_post_loading == false){
           forum_list_loading = true;
           if(isSinglePostloading){
            getSinglePost();
           }
        $('#single_post_list').val(parseInt($('#single_post_list').val())+50);
        forum_post_loading = false;
      }
 }
});

function singlePostFresh(){
    isSinglePostloading = true;
    $("#refreshing").removeClass("hidden");
    $("#loadComplete").addClass("hidden");
    getSinglePost();
}
    function getSinglePost(){
        var fid = $("#fid").val();
        var postid = $("#postid").val();
        if(isSinglePostloading){
            $("#refreshing").removeClass("hidden");
            $("#loadComplete").addClass("hidden");
            isSinglePostloading = false;
            $.ajax({
            type:"POST",
            url:"/user-forum/single-post",
            dataType:"json",
            timeout : 50000,
            data: { fid:fid ,page:page, postid:postid},
            success:function(data){
            var s = "";
            if(data.hasOwnProperty("userPostVOEntity")){
                    $("#fid").val(data.userPostVOEntity.fid);
                $("#callback").attr('href',"javascript:window.parent.location.href=\"/index?callback=/single_forum?fid="+data.userPostVOEntity.fid+"\"");
                $("#callback2").attr('href',"javascript:window.parent.location.href=\"/index?callback=/single_forum?fid="+data.userPostVOEntity.fid+"\"");
                s += postMain(data.userPostVOEntity)
                $("#reply").before(s);
            }
            if(jsonMsgValidation(data)){
                for(var o in data.userPostReplyVOEntity){
                    s = postReply(data.userPostReplyVOEntity[o]);
                    $("#single_post_list").before(s);
            }
            page = page+1;
            $("#refreshing").addClass("hidden");
            $("#loadComplete").addClass("hidden");
            isSinglePostloading = true;
            }else{
            isSinglePostloading = false;
            }
            },
            complete: function (XMLHttpRequest, textStatus) {
                 forumTimeout();
                if(textStatus == 'timeout') {
                    userPageAlert('',  '连接超时，请稍后再试')
                    isSinglePostloading = false;
                }
            },
            error:function(jqXHR){
                forumError();
                isSinglePostloading = false;
            }
        });
    }}



</script>