
<html lang="zh_CN" xmlns:th="http://www.w3.org/1999/xhtml">
<ul class="ca bow box afo">

    <li class="rv b agz fade-in-animation">
        <div class="input-group">
            <h7 id="title"></h7>
            <input readonly th:value="${fid}" id="fid" class="hidden">
            <div class="bpt">
            </div>
        </div>
        <br>
        <div class="input-group">
            <a class="cg nz ok right-button" th:onclick="followForum([[${fid}]])" id="followForum"><span class="h  color-blue">关注</span></a>
            <div class="bpt">
            </div>
        </div>
    </li>

    <div th:replace="/common/index/reply.html"></div>


    <!--<div class="boy" data-grid="images">-->
    <!--<div style="display: none">-->
    <!--<img data-action="zoom" data-width="1331" data-height="887" src="images/unsplash_1.jpg" style="width: 30vw;height: 30vh">-->
    <!--</div>-->

    <!--<div style="display: none">-->
    <!--<img data-action="zoom" data-width="640" data-height="640" src="images/instagram_1.jpg">-->
    <!--</div>-->

    <!--<div style="display: none">-->
    <!--<img data-action="zoom" data-width="612" data-height="612" src="images/instagram_13.jpg">-->
    <!--</div>-->

    <!--<div style="display: none">-->
    <!--<img data-action="zoom" data-width="1535" data-height="1024" src="images/unsplash_2.jpg">-->
    <!--</div>-->
    <!--</div>-->


    <!--<ul class="bow afa">-->
    <!--<li class="rv afh">-->
    <!--<div class="rw well">-->
    <!--<p><strong style="color:red;">最佳答案: </strong></p>-->
    <!--Test-->
    <!--<ul class="figure-list boy" data-grid="images">-->
    <!--<li>-->
    <!--<img data-action="zoom"  style="background-image:url(images/unsplash_1.jpg)" src="images/unsplash_1.jpg" url="images/unsplash_1.jpg"/>-->
    <!--</li>-->

    <!--<li>-->
    <!--<img data-action="zoom" style="background-image:url(images/instagram_1.jpg)" src="images/instagram_1.jpg"/>-->
    <!--</li>-->
    <!--<li>-->
    <!--<img data-action="zoom" style="background-image:url(images/instagram_13.jpg)" src="images/instagram_13.jpg"/>-->
    <!--</li>-->
    <!--<li>-->
    <!--<img data-action="zoom" style="background-image:url(images/unsplash_1.jpg)" src="images/unsplash_1.jpg"/>-->
    <!--</li>-->
    <!--<li>-->
    <!--<img data-action="zoom" style="background-image:url(images/instagram_13.jpg)" src="images/instagram_13.jpg"/>-->
    <!--</li>-->
    <!--<li>-->
    <!--<img data-action="zoom" style="background-image:url(images/unsplash_1.jpg)" src="images/unsplash_1.jpg"/>-->
    <!--</li>-->
    <!--<li>-->
    <!--<img data-action="zoom" style="background-image:url(images/unsplash_2.jpg)" src="images/unsplash_2.jpg"/>-->
    <!--</li>-->

    <!--</ul>-->
    <!--</div>-->
    <!--</li>-->

    <!--<li class="rv">-->
    <!--<img-->
    <!--class="bos vb yb aff"-->
    <!--src="images/avatar-mdo.png">-->
    <!--<div class="rw">-->
    <!--<strong>Mark Otto: </strong>-->
    <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.-->
    <!--</div>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--</li>-->
    <li class="rv b agz" id="single_forum_list">
    <div th:replace="/common/index/loading.html"></div>
    </li>
</ul>

<script>
$("#loadCompleteFinish").attr("onclick","singleForumFresh()");
$('#single_forum_list').val(50);
var forum_list_loading = false;
getSingleForum();
$(window).scroll(function(){
 if((($(window).scrollTop()+$(window).height())+250)>=$(document).height()){
      if(forum_list_loading == false){
           forum_list_loading = true;
           if(isSingleForumloading){
            getSingleForum();
           }
        $('#single_forum_list').val(parseInt($('#single_forum_list').val())+50);
        forum_list_loading = false;
      }
 }
});










</script>