.board_red {
    border: 1px solid red;
}

.font_color_red {
    color: red;
}

.hidden {
    display: none;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    /*初始状态 透明度为0*/
    10% {
        opacity: 0.1;
    }
    /*过渡状态 透明度为0*/
    15% {
        opacity: 0.15;
    }
    /*过渡状态 透明度为0*/
    20% {
        opacity: 0.2;
    }
    /*过渡状态 透明度为0*/
    25% {
        opacity: 0.25;
    }
    /*过渡状态 透明度为0*/
    30% {
        opacity: 0.3;
    }
    /*过渡状态 透明度为0*/
    35% {
        opacity: 0.35;
    }
    /*过渡状态 透明度为0*/
    40% {
        opacity: 0.4;
    }
    /*过渡状态 透明度为0*/
    45% {
        opacity: 0.45;
    }
    /*过渡状态 透明度为0*/
    50% {
        opacity: 0.5;
    }
    /*过渡状态 透明度为0*/
    55% {
        opacity: 0.55;
    }
    /*过渡状态 透明度为0*/
    60% {
        opacity: 0.6;
    }
    /*过渡状态 透明度为0*/
    65% {
        opacity: 0.65;
    }
    /*过渡状态 透明度为0*/
    70% {
        opacity: 0.7;
    }
    /*过渡状态 透明度为0*/
    75% {
        opacity: 0.75;
    }
    /*过渡状态 透明度为0*/
    80% {
        opacity: 0.8;
    }
    /*过渡状态 透明度为0*/
    85% {
        opacity: 0.85;
    }
    /*过渡状态 透明度为0*/
    100% {
        opacity: 0.9;
    }
    /*过渡状态 透明度为0*/
}

@-webkit-keyframes fade-in { /*针对webkit内核*/
    0% {
        opacity: 0;
    }
    /*初始状态 透明度为0*/
    10% {
        opacity: 0.1;
    }
    /*过渡状态 透明度为0*/
    15% {
        opacity: 0.15;
    }
    /*过渡状态 透明度为0*/
    20% {
        opacity: 0.2;
    }
    /*过渡状态 透明度为0*/
    25% {
        opacity: 0.25;
    }
    /*过渡状态 透明度为0*/
    30% {
        opacity: 0.3;
    }
    /*过渡状态 透明度为0*/
    35% {
        opacity: 0.35;
    }
    /*过渡状态 透明度为0*/
    40% {
        opacity: 0.4;
    }
    /*过渡状态 透明度为0*/
    45% {
        opacity: 0.45;
    }
    /*过渡状态 透明度为0*/
    50% {
        opacity: 0.5;
    }
    /*过渡状态 透明度为0*/
    55% {
        opacity: 0.55;
    }
    /*过渡状态 透明度为0*/
    60% {
        opacity: 0.6;
    }
    /*过渡状态 透明度为0*/
    65% {
        opacity: 0.65;
    }
    /*过渡状态 透明度为0*/
    70% {
        opacity: 0.7;
    }
    /*过渡状态 透明度为0*/
    75% {
        opacity: 0.75;
    }
    /*过渡状态 透明度为0*/
    80% {
        opacity: 0.8;
    }
    /*过渡状态 透明度为0*/
    85% {
        opacity: 0.85;
    }
    /*过渡状态 透明度为0*/
    100% {
        opacity: 0.9;
    }
    /*过渡状态 透明度为0*/
}

.fade-in-animation {
    animation: fade-in; /*动画名称*/
    animation-duration: 1.15s; /*动画持续时间*/
    -webkit-animation: fade-in 1.15s; /*针对webkit内核*/
}

.figure-list {
    margin: 0;
    padding: 0;
}

.figure-list:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.figure-list li {
    list-style: none;
    float: left;
    width: 23.5%;
    margin: 0 2% 2% 0;
    margin-left: 2%;
}

.figure-list img {
    border: 0px solid #000;
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
    margin: 0;
    padding-bottom: 100%; /* 关键就在这里 */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.figure-list video {
    position: relative;
    top: 0;
    left: 0;
    width: 420%;
    height: 300%;
    margin: 0;
    padding-bottom: 0;
}

.figure-list figure a {
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
}

.opacity95 {
    opacity: 0.95;
}

html {
    overflow-x: hidden;
    overflow-y: auto;
}

::-webkit-scrollbar { /*滚动条整体样式*/
    width: 5px; /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}

::-webkit-scrollbar-thumb { /*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #535353;
}

::-webkit-scrollbar-track { /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: #EDEDED;
}

.width-auto {
    width: auto;
}

.height-auto {
    height: auto;
}

.width-1px {
    width: 1px;
}

.color-blue {
    color: #3097D1;
}

p {
    word-break: break-all;
}

h6 {
    word-break: break-all;
}

h7 {
    word-break: break-all;
}

.arrow-right {
    right: 0;
    position: fixed;
}

.border-none {
    border: none;
}

.width100per {
    width: 100%;
}

.height100per {
    height: 100%;
}

.modals {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;

    background-color: #3097D1;
    background-color: #3097D1;
    z-index: 9999;
}

body {
    width: 1px;
    min-width: 100%;
    *width: 100%;
}

.right-button {
    position: absolute;
    right: 0;
    color: #3097D1;
}

.right-button-inherit {
    position: inherit;
    right: 0;
    color: #3097D1;
}

.content-wrapper {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    -webkit-overflow-scrolling: touch;
    overflow: auto !important;
}

.content-wrapper iframe {
    height: 100%;
    width: 100%;
}
.text-decoration-none{
    text-decoration: none;
}