<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.w3.org/1999/xhtml">
<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <title>主页</title>

    <div th:replace="common/index/css_common.html"></div>

    <div th:replace="common/index/js_common.html"></div>

</head>


<body class="bob">
<div class="modals hidden" id="hidePanel">
    <div>
        <nav class="ck pt adq py tk app-navbar">
            <a class="e" href="javascript:void(0);" onclick="closeHidePanel()">
                <i class="fa fa-angle-left fa-1x"></i>
            </a>
        </nav>
    </div>

    <iframe class="height100per width100per border-none" id="jump2">

    </iframe>
</div>
<div th:replace="common/index/constant.html"></div>
<div class="bon" id="app-growl"></div>

<div th:replace="common/index/nav.html"></div>

<div th:replace="common/index/message_pop.html"></div>

<div class="by aha ahl">
    <div class="dp">
        <div class="fj">
            <div th:replace="common/index/person_info.html"></div>
            <!--<div th:replace="common/index/person_info_edit.html"></div>-->
            <div id="slideTrendMobile">
                <div th:replace="common/index/trend_list.html"></div>
            </div>

        </div>

        <div class="fm" id="jump">
            <div th:replace="user/index_main.html"></div>

        </div>
        <div class="fj">
            <!-- <div th:replace="common/index/tip.html"></div>-->
            <div class="d-none vy afo">
                <div id="slideTrendPC">
                    <div th:replace="common/index/trend_list.html"></div>
                </div>
            </div>

            <div th:replace="common/index/footer.html"></div>

        </div>
    </div>
</div>
</body>
</html>
