<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<span id="js">浏览器未启用JS</span>
<span id="cookie">浏览器未启用Cookie</span>
</body>
</html>
<script th:src="@{/js/customs.js}"></script>
<script>
document.getElementById('js').style.display='none';
if((document.cookie || navigator.cookieEnabled))
{
document.getElementById('cookie').style.display='none';
}
if(getCookie('uuid')==null){
    setCookie('uuid',guid());
location.href = document.location.toString()+"?securetoken="+guid();


}else{
location.href = document.location.toString();
}
</script>